extends layout

block content
  p PALETTE main page
  br
  a(href='/exc') Browse Extracurricular Database
  br
  a(href='/school') School
  br
  a(href='/rc') RC(not now)
  br
  a(href='/club') Clubs
  br
  a(href='/pfolio') My Portfolio
  br
  a(href='/mypage') My Page
  br
  p inbox, widgets, postfeeds, notifications not yet.
  br
  a(href='/logout') Sign Out