extends ../layout

block content
  p palette my page
  style.
    img{
      width:100%
    }
  form(action='/mypage/upload' method='POST' enctype='multipart/form-data')
    input(type='file' name='file')
    label(for='file') Choose file
    input(type='submit' value='submit')
  img(src='image/#{file.filename}' alt='')
  form(method='POST' action='/mypage/#{file._id}/delete')
    button.submit Delete
  