// 앞에 꼭 써주기
doctype html
// head  include를 해줍니다.
head
  include includes/head.pug

.wrapper
  include includes/sidebar.pug
  .main-panel
    include includes/navbar.pug
    .content
      // 여기서부터 페이지 디자인 들어가면 됩니다.
      block content
        a(href='/rc') RC(not now)
        br
        a(href='/pfolio') My Portfolio
        br

    //footer도 include해주기!
    include includes/footer.pug
// 이것도 까먹지 않고 include해주기!
include includes/scripts.pug