//extends ../layout

// 이런식으로 head에 include해주면 core file들을 가져와줍니다.
head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar
  .content
    block content
      h2 Thank you for signing up!
      h3 Please give us more infos.

    form(action="/first_login" method="POST")
      p Date of Birth :
      input(name="dob" type="date")
      p Address :
      input(name="address" type="text")
      p bio :
      input(name="bio" type = "text")
      p grade :
      input(name="grade" type = "number")
      p class :
      input(name="class" type="text")
      p Working Experience :
      input(name="work_exp" type="text")
      p Fun Facts about You :
      input(name="fun_facts" type="text")
      p Skills and Interests :
      input(name="s_i" type="text")
      button.submit confirm

include ../includes/scripts.pug