extends ../layout

block content
  h2 It's the last page!
  h3 Please enter your School, Major, and Club You're in.
  h3 Choose ONLY ONE PLEASE
  h4 School
  form(action="/first_login/smc" method="POST")
    -for(var s=0;s<ct.schools.length;s++)
      c #{ct.schools[s].name}
      input(type="radio" name="school" value=ct.schools[s]._id)
    h4 Club
    -for(var c=0;c<ct.clubs.length;c++)
      c #{ct.clubs[c].name}
      input(type="radio" name="club" value=ct.clubs[c]._id)
    br
    br
    button.submit confirm
  