footer.footer
      .container-fluid
        nav.pull-left
          ul
            li
              a(href='/')
                | PALETTE main
            li
              a(href='/image/palette_members.png')
                | PALETTE Members
            li
              a(href='/image/palette_advisors.png')
                | PALETTE Advisors
        .copyright.pull-right
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made with 
          i.ti.ti-palette
          |  by PALETTE