extends ../layout

block content
  h2 SIGNUP
  div(style="color:red;") #{ct.feedback}
  form(action="/signup" method="POST")
    p First Name : 
    input(name="fname" type="text")
    p Last Name :
    input(name="lname" type="text")
    p Email : 
    input(name="email" type="email")
    p Password : 
    input(name="password" type="password")
    br
    h3 Choose your Palette(maximum 3) : 
    p Arts
    input(name="palette" type="checkbox" value="Arts")
    p Academic
    input(name="palette" type="checkbox" value="Academic")
    p Media
    input(name="palette" type="checkbox" value="Media")
    p Community
    input(name="palette" type="checkbox" value="Community")
    p STEM
    input(name="palette" type="checkbox" value="STEM")
    p Sports
    input(name="palette" type="checkbox" value="Sports")
    br
    button.submit signup