extends ../layout

block content
  p palette admin page
  p only for administrator
  br
  a(href='/admin/exc') Extracurricular Admin
  br
  a(href='/admin/school') School Admin
  br
  a(href='/admin/club') Club Admin
  br