extends ../../layout

block content
  //crud 모두 계획중.
  p palette admin exc page
  -for(var i=0;i<ct.excs.length;i++)
    p #{ct.excs[i].name}
    a(href='/exc/'+ct.excs[i]._id) go
    br
    a(href='exc/delete/'+ct.excs[i]._id) delete
    br
    br
  a(href='exc/create') create new exc
