doctype html

head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      block content
        p palette club page
        -for(var i=0;i<ct.clubs.length;i++)
          .row
            .col-lg-10
              .card
                .card-content
                  .row
                    .col-sm-2
                      .img-center
                        img(src=ct.clubs[i].pic alt='')
                      br
                    .col-sm-9
                      h3 #{ct.clubs[i].name}
                      h5 #{ct.clubs[i].info}
                      button.btn.btn-wd.btn-success(type='button' onclick="location.href='/club/"+ct.clubs[i]._id+"'")
                        span.btn-label
                          i.fa.fa-check
                        | &#x9;                                            Go

include ../includes/scripts.pug