extends ../layout

block content
  style.
    img{
      width:10%
    }
  h2 #{ct.club.name}
  -if(!(ct.club.school==null||ct.club.school==''))
    h3 from #{ct.club.school.name}
  -if(!(ct.club.pic==null||ct.club.pic==''))
    img(src=ct.club.pic alt='')
  h3 information :
  p #{ct.club.info}
