doctype html
//
  =========================================================
  * Paper Dashboard PRO - V1.3.1
  =========================================================
  * Product Page: https://www.creative-tim.com/product/paper-dashboard-pro
  * Available with purchase of license from https://www.creative-tim.com/product/paper-dashboard-pro
  * Copyright 2017 Creative Tim (https://www.creative-tim.com)
  * License Creative Tim (https://www.creative-tim.com/license)
  =========================================================
head
  include ../includes/head.pug

.wrapper.wrapper-full-page
  .full-page.login-page(data-color='primary')
    // you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple | primary"
    .content
      a(href='/')
        img(src='/assets/img/transparent-logo.png' ).center-block
      .container.margin-top
        .row
          .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
            form(method='POST' action='/login')
              .card(data-background='color' data-color='blue')
                //.card-header
                //  h3.card-title Login
                .card-content
                  .form-group
                    label email
                    input.form-control.input-no-border(name = 'email' type='email' placeholder='Enter email')
                  .form-group
                    label Password
                    input.form-control.input-no-border(name = 'password' type='password' placeholder='Password')
                .card-footer.text-center
                  button.btn.btn-fill.btn-wd(type='submit') Let&apos;s go
                .row
                  .col-sm-5.text-center
                      a(href='/signup')
                        h5 sign up
                  .col-sm-7.text-center
                    a(href='#pablo')
                        h5 Forgot password?
    include ../includes/footer.pug
include ../includes/scripts.pug