doctype html

head
  include ../includes/head.pug

nav.navbar.navbar-transparent.navbar-absolute
  .container
    .navbar-header
      button.navbar-toggle.navbar-toggle-black(type='button' data-toggle='collapse' data-target='#navigation-example-2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.btn(href='login')
            | Looking to login?
.wrapper.wrapper-full-page
  .register-page
    // you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple"
    .content
      .container
        .row
          .col-md-8.col-md-offset-2
            .header-text
              h2 PALETTE SIGNUP
              h4 Register for free and experience PALETTE.
              hr
          .col-md-4.col-md-offset-2
            .media
              .media-left
                .icon.icon-danger
                  i.ti-music
              .media-body
                h5 Extracurricular Activities
                |                                 &#x9;You can find many activities.
            .media
              .media-left
                .icon.icon-warning
                  i.ti-book
              .media-body
                h5 Schools
                |                                 &#x9;You can find many schools
            .media
              .media-left
                .icon.icon-info
                  i.ti-basketball
              .media-body
                h5 Clubs
                |                                 &#x9;Browse Clubs!
          .col-md-4
            form(method='POST' action='/signup')
              .card.card-plain
                .content
                  .form-group
                    input.form-control(name='fname' type='text' placeholder='Your First Name')
                  .form-group
                    input.form-control(name='lname' type='text' placeholder='Your Last Name')
                  .form-group
                    input.form-control(name='email' type='email' placeholder='Enter email')
                  .form-group
                    input.form-control(name='password' type='password' placeholder='Password')
                  p choose your palette! (max 3)
                  .form-group
                    .checkbox
                      input#checkbox15(name='palette' type='checkbox' value='Arts')
                      label(for='checkbox15')
                        | Arts
                    .checkbox
                      input#checkbox15(name='palette' type='checkbox' value='Academic')
                      label(for='checkbox15')
                        | Academic
                    .checkbox
                      input#checkbox15(name='palette' type='checkbox' value='Media')
                      label(for='checkbox15')
                        | Media
                    .checkbox
                      input#checkbox15(name='palette' type='checkbox' value='Community')
                      label(for='checkbox15')
                        | Community
                    .checkbox
                      input#checkbox15(name='palette' type='checkbox' value='STEM')
                      label(for='checkbox15')
                        | STEM
                    .checkbox
                      input#checkbox15(name='palette' type='checkbox' value='Sports')
                      label(for='checkbox15')
                        | Sports
                  
                  //.form-group
                    input.form-control(type='password' placeholder='Password Confirmation')
                .footer.text-center
                  button.btn.btn-fill.btn-danger.btn-wd(type='submit') Create Free Account
    include ../includes/footer
include ../includes/scripts