doctype html

head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      block content
        h3 Portfolio Page
        br
        h5 Developing!

    include ../includes/footer.pug
include ../includes/scripts.pug